<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Settings Def</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/CSS_Fernando/css/variables.css" />
    <link rel="stylesheet" href="./css/CSS_Fernando/css/estilo.movil.css" />
    <link rel="stylesheet" href="./css/CSS_Fernando/css/estilo.tablet.css" />
    <link rel="stylesheet" href="./css/CSS_Fernando/css/estilo.pc.css" />
    <link rel="stylesheet" href="./css/CSS_Fernando/css/style.css" />
  </head>
  <body>
    <main class="centrar-elementos-en-columna">
      <header>
        <span class="krona-one-regular titulo-header">Settings</span>
      </header>
        <section class="teachers box-shadow-xenerico">
          <div class="dato-teacher">
            <div class="imaxen-teacher">
              <img src="./imaxes/Group 142957 (1).svg" alt="teacher" />
            </div>
            <div class="nome-e-students-teacher">
              <span class="roboto-bolder">Academy name</span>
            <span class="roboto-soft"> acamedyemai@mail.com</span>
            </div>
        </section>

        <section class="teachers-2 box-shadow-xenerico">
          <div class="dato-teacher-2">
            <div class="nome-e-students-teacher-2">
              <span class="roboto-bolder">About Academy</span>
              <span class="roboto-soft-2">Facilisis mauris sed nibh dui, non ut iaculis euismod lacus.
                 Pharetra urna, volutpat felis sed a sem maecenas nunc. Enim sit risus, orci id sed dictum at. 
                 Nec ornare elementum diam malesuada pharetra, vitae ornare.</span>
            </div>
        </section>
        
        <section class="teachers-3 box-shadow-xenerico">
          <nav class="navegador">
                  <div class="password"> 
                  <img src="./imaxes/Lock.svg" alt="lock" /> 
                  <span class="negrita-2">Change Password</span>
                  </div>
                  <div class="desplegable" tabindex="1">
                    <img class="flecha-contraseña" src="./imaxes/flecha-abajo.svg" alt="up arrow" />
                  </div>
                  <div class="caja-password">
                    <div class="org-1">
                    <span>Current Password</span><span>New Password</span>
                    </div>
                    <div class="inputs">
                      <input class="current-password" type="text" placeholder="Enter Current Password" />
            
                      <input class="current-password" type="text" placeholder="Enter New Password" />
                    </div>
                    <div class="botones-password">
                      <a href="#" class="boton-save">
                        <img src="./imaxes/Check.svg" />
                        <span>Save</span>
                      </a>
                      <a href="#" class="boton-cancel">
                        <img src="./imaxes/X.svg"/>
                        <span>Cancel</span>
                      </a> 
                  </div>
                  </div>    
          </nav>
        </section>
   
    
    </main>

    <aside>
      <section class="parte-etiquetas-logos">
        <div class="primer-elemento">
          <img class="flecha-password" src="./imaxes/iconos/NotaMusical.svg" alt="nota musical" />
          <span name="titulo-musical" class="krona-one-regular">sweetnote</span>
        </div>
        <div class="elemento-logo-academia">
          <div class="imaxen-figma">
            <img src="./imaxes/iconos/LogoFigma.svg" alt="logo de figma" />
          </div>
          <div class="textos-elemento-logo-academia">
            <span class="roboto-bolder">Academy Name</span>
            <span name="parte-logos">Admin</span>
          </div>
        </div>
      </section>
      

      <section class="seccion-navegacion">
        <nav>
          <a href="/dashboard">
            <img src="./imaxes/iconos/CirclesFour.svg" alt="imaxen" />
            <span name="seccion-navegacion">Dashboard</span>
          </a>
          <a href="/teachers">
            <img src="./imaxes/iconos/ChalkboardTeacher.svg" alt="imaxen" />
            <span name="seccion-navegacion">Teachers</span> </a
          ><a href="/students">
            <img src="./imaxes/iconos/GraduationCap.svg" alt="imaxen" />
            <span name="seccion-navegacion">Students</span> </a
          ><a href="/settings">
            <img src="./imaxes/iconos/GearSix.svg" alt="imaxen" />
            <span name="seccion-navegacion">Settings</span>
          </a>
        </nav>

        <a href="/index" class="logout">
          <img src="./imaxes/iconos/iconoLogout.svg" alt="icono logout" />
          <span name="logout">Log Out</span>
        </a>
      </section>
    </aside>
  </body>
</html>
