<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HTML + CSS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/CSS_ISIS/css/variables.css" />
    <link rel="stylesheet" href="./css/CSS_ISIS/css/estilo.movil.css" />
    <link rel="stylesheet" href="./css/CSS_ISIS/css/estilo.tablet.css" />
    <link rel="stylesheet" href="./css/CSS_ISIS/css/estilo.pc.css" />
    <link rel="stylesheet" href="./css/CSS_ISIS/css/style.css" />
  </head>
  <body>
    <main class="centrar-elementos-en-columna">
      <header><span class="krona-one-regular">Teachers</span></header>
      <section class="novo-section">
        <section class="buscador-and-new-teacher">
          <div class="buscador">
            <div class="input-buscador">
              <input
                type="text"
                class="roboto-soft black"
                placeholder="Frost"
              />
              <img src="./imaxes/iconos/Lupa.svg" alt="imaxen lupa" />
            </div>
            <div class="filtro-actividade-teacher">
              <span class="roboto-soft cor-soft"
                >Sort by
                <span class="roboto-bolder black">Last activity</span></span
              >
              <img
                name="iconos"
                src="./imaxes/iconos/Frecha_abaixo.svg"
                alt="Frecha_abaixo"
              />
            </div>
          </div>
          <div class="new-teacher">
            <img name="iconos" src="./imaxes/iconos/cruz.svg" alt="cruz" />
            <span class="roboto-soft">New Teacher</span>
          </div>
        </section>
        <section class="seccion-nueva">
          <span name="num-teachers">2 teachers found</span>
          <span name="clear-search">Clear search</span>
        </section>

        <section class="teachers">
          <div class="dato-teacher">
            <div class="imaxen-teacher">
              <img src="./imaxes/usuarios/teachers/pepe.svg" alt="teacher" />
            </div>
            <div class="nome-e-students-teacher">
              <span class="roboto-bolder">Nathan Frost</span>
              <span class="roboto-soft cor-soft">14 students</span>
            </div>
            <div class="actividade-teacher">
              <span class="roboto-bolder">Last activity on</span>
              <span class="roboto-soft cor-soft">June 5, 2022 - 11:45 AM</span>
            </div>
          </div>
          <div class="observacions-teacher">
            <span class="roboto-soft cor-soft"
              >Got rejected when trying upload a video
              <span name="enfasis-black">to Patri...</span></span
            >
            <div class="advertencia-teacher">
              <img name="iconos" src="./imaxes/iconos/ShieldWarning.svg" /><span
                name="texto-advertencia-teacher"
                class="roboto-bolder"
                >Part 5 (10:25)</span
              >
            </div>
          </div>
        </section>
        <section class="teachers">
          <div class="dato-teacher">
            <div class="imaxen-teacher">
              <img
                src="./imaxes/usuarios/teachers/teacher_2.png"
                alt="teacher"
              />
            </div>
            <div class="nome-e-students-teacher">
              <span class="roboto-bolder">Adison Frost</span>
              <span class="roboto-soft cor-soft">12 students</span>
            </div>
            <div class="actividade-teacher">
              <span class="roboto-bolder">Last activity on</span>
              <span class="roboto-soft cor-soft">June 4, 2022 - 11:45 AM</span>
            </div>
          </div>
          <div class="observacions-teacher">
            <span class="roboto-soft cor-soft"
              >Sent a video <span name="enfasis-black">to Maren Levin</span>
            </span>
            <div class="advertencia-teacher">
              <img
                name="iconos"
                src="./imaxes/iconos/flecha_derecha.png"
              /><span name="enfasis-violeta" class="roboto-bolder"
                >Beginner level tutorials (10:25)
              </span>
            </div>
          </div>
        </section>
      </section>
    </main>

    <aside>
      <section class="parte-etiquetas-logos">
        <div class="primer-elemento">
          <img src="./imaxes/iconos/NotaMusical.svg" alt="nota musical" />
          <span name="titulo-musical" class="krona-one-regular">sweetnote</span>
        </div>
        <div class="elemento-logo-academia">
          <div class="imaxen-figma">
            <img
              name="logo-academia"
              src="./imaxes/iconos/LogoFigma.svg"
              alt="logo de figma"
            />
          </div>
          <div class="textos-elemento-logo-academia">
            <span name="parte-logos" class="roboto-bolder black"
              >Academy Name</span
            >
            <span name="parte-logos" class="roboto-soft cor-soft">Admin</span>
          </div>
        </div>
      </section>

      <section class="seccion-navegacion">
        <nav class="krona-dos">
          <a href="#">
            <img src="./imaxes/iconos/CirclesFour.svg" alt="imaxen" />
            <span name="seccion-navegacion">Dashboard</span>
          </a>
          <a href="#">
            <img src="./imaxes/iconos/ChalkboardTeacher.svg" alt="imaxen" />
            <span name="seccion-navegacion">Teachers</span> </a
          ><a href="#">
            <img src="./imaxes/iconos/GraduationCap.svg" alt="imaxen" />
            <span name="seccion-navegacion">Students</span> </a
          ><a href="#">
            <img src="./imaxes/iconos/GearSix.svg" alt="imaxen" />
            <span name="seccion-navegacion">Settings</span>
          </a>
        </nav>

        <div class="logout">
          <img src="./imaxes/iconos/iconoLogout.svg" alt="icono logout" />
          <span name="logout">Log Out</span>
        </div>
      </section>
    </aside>
  </body>
</html>
