<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"/>
  <link href="./css/styles.css" rel="stylesheet"/>
  <link href="./css/variables.css" rel="stylesheet"/>
  <link href="./css/dispositivos/dispositivo.movil.css" rel="stylesheet">
  <link href="./css/dispositivos/dispositivo.pc.css" rel="stylesheet">
  <link href="./css/dispositivos/dispositivo.tablet.css" rel="stylesheet">
  <title>Document</title>
</head>
<body>
    <section class="imagen-inicio">
        <img src="imaxes/Imagen-portada.png" name ="img-portada" alt="imagen portada">
        <div class="texto-imagen">
            <img src="imaxes/Icono-NotaMusicalBlanca.svg" alt="nota musical blanca">
            <span class="krona regular color-blanco font-size-34">SWEETNOTE</span>
        </div>
    </section>
    <section class="texto-inicio">
        <div class="txt-inicio">
            <div class="parte-arriba">
                <span class="krona regular color-negro font-size-34">Forgot Your Password?</span>
                <span class="roboto regular color-negro">No problem! Just tell us your email and we’ll send a password reset link right away</span>
            </div>
            <div class="email">
                <input name="enter-email" type="text" placeholder="Email"/>
            </div>
            <div class="parte-abajo">
                <div class="enter">
                    <a href="/ivan"><span class="roboto bold color-blanco font-size-14">Enter</span></a>
                </div>
                <a href="http://localhost:3000/index"><span class="roboto bold color-violeta font-size-14">Back</span></a>
            </div>
        </div>

    </section>

</body>
</html>