<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HTML + CSS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/style.index.css" />
  </head>
  <body>
    <main class="center-column-items">
      <header class="teachertext">
        <span>Teachers</span>
      </header>
      <section class="search-and-add-teacher">
        <div class="search">
          <div class="search-input">
            <input class="searchbar" type="text" placeholder="Enter teacher" font-size: 10px;>
            <img class="lupa" src="./imaxes/iconos/Lupa.svg" alt="search icon" />
          </div>
          <div class="teacher-activity-filter">
            <span>Sort by <span>Last activity</span></span>
            <img src="./imaxes/iconos/Frecha_abaixo.svg" alt="arrow down" />
          </div>
        </div>
        <div class="new-teacher">
          <img src="./imaxes/iconos/cruz.svg" alt="cross icon" />
          <span>New Teacher</span>
        </div>
      </section>
      <section class="teachers box-shadow-generic" tabindex="1">
        <div class="popup">
          <div class="container">
          <header class="popupheader">
              <div class="user-info">
                  <div class="avatars">
                      <img src="imaxes/EllipseGirl.png" alt="User 1">
                      <img src="imaxes/EllipseWoman.png" alt="User 2">
                  </div>
                  <div>
                      <h2>Ruben Calzoni & Maren Levin</h2>
                      <p>Classroom</p>
                  </div>
                  <button class="close-btn"><img src="imaxes/exit.png"></button>
              </div>
              <nav>
                  <button class="active">Chat</button>
                  <button class="active-tab">Content (23)</button>
                  <button>Flags</button>
              </nav>
          </header>
  
          <div class="content-section">
              <div class="search-bar">
                  <input type="text" id="search" placeholder="Search">
                  <button class="search-btn"><img src="imaxes/iconos/Lupa.svg"></button>
              <select id="sort">
                  <option value="latest">Sort by latest activity</option>
                  <option value="oldest">Sort by oldest</option>
                </select>
              </div>
  
              <div class="content-list">
                  <div class="content-item">
                      <img src="imaxes/splashguittar.png" alt="Video">
                      <div class="details">
                          <h3>Beginner level tutorials</h3>
                          <p>June 6, 2022 - 14:30PM</p>
                      </div>
                      <span class="duration">10:25</span>
                  </div>
  
                  <div class="content-item voice">
                      <button class="play-btn">▶</button>
                      <div class="details">
                          <h3>Voice record</h3>
                          <p>June 5, 2022 - 14:30PM</p>
                      </div>
                      <span class="duration">00:54</span>
                  </div>
  
                  <div class="content-item voice">
                      <button class="play-btn">▶</button>
                      <div class="details">
                          <h3>Voice record</h3>
                          <p>June 5, 2022 - 14:30PM</p>
                      </div>
                      <span class="duration">00:54</span>
                  </div>
  
                  <div class="content-item voice">
                      <button class="play-btn">▶</button>
                      <div class="details">
                          <h3>Voice record</h3>
                          <p>June 4, 2022 - 14:30PM</p>
                      </div>
                      <span class="duration">00:12</span>
                  </div>
              </div>
          </div>
      </div>
        </div>
        <div class="teacher-info">
          <div class="teacher-image">
            <img src="./imaxes/usuarios/teachers/pepe.svg" alt="teacher" />
          </div>
          <div class="teacher-name-and-students">
            <span class="roboto-bolder">Nathan Frost</span>
            <span class="roboto-soft cor-soft">14 students</span>
          </div>
          <div class="teacher-activity">
            <span class="roboto-bolder">Last activity on</span>
            <span class="roboto-soft cor-soft">June 5, 2022 - 11:45 AM</span>
          </div>
        </div>
        <div class="teacher-notes">
          <span class="roboto-soft cor-soft">
            Got rejected when trying upload a video to Patri...
          </span>
          <div class="teacher-warning">
            <img src="./imaxes/iconos/ShieldWarning.svg" alt="warning icon" />
            <span name="teacher-warning-text" class="roboto-bolder">
              Part 5 (10:25)
            </span>
          </div>
        </div>
      </section>
      
    </main>

    <aside>
      <section class="logo-labels-section">
        <div class="first-element">
          <img src="./imaxes/iconos/NotaMusical.svg" alt="musical note" />
          <span name="music-title" class="krona-one-regular">sweetnote</span>
        </div>
        <div class="academy-logo-element">
          <div class="figma-image">
            <img src="./imaxes/iconos/LogoFigma.svg" alt="Figma logo" />
          </div>
          <div class="academy-logo-texts">
            <span name="logo-part">Academy Name</span>
            <span name="logo-part">Admin</span>
          </div>
        </div>
      </section>
      <hr />

      <section class="navigation-section">
        <nav class="navi">
          <a href="http://localhost:3000/ivan">
            <img src="./imaxes/iconos/CirclesFour.svg" alt="icon" />
            <span name="navigation-section">Dashboard</span>
          </a>
          <a class="selected" href="#">
            <img src="./imaxes/iconos/ChalkboardTeacher.svg" alt="icon" />
            <span name="navigation-section">Teachers</span>
          </a>
          <a href="#">
            <img src="./imaxes/iconos/GraduationCap.svg" alt="icon" />
            <span name="navigation-section">Students</span>
          </a>
          <a href="#">
            <img src="./imaxes/iconos/GearSix.svg" alt="icon" />
            <span name="navigation-section">Settings</span>
          </a>
        </nav>

        <div class="logout">
          <a href="http://localhost:3000/index">
          <img src="./imaxes/iconos/iconoLogout.svg" alt="logout icon" />
          <span name="logout">Log Out</span></a>
        </div>
      </section>
    </aside>
  </body>
</html>
