:root {
  --main-border-pc: 1px solid grey;
  --main-width-pc: 80%;
  --header-height-pc: 160px;
  --header-width-pc: 100%;
  --span-titulo-font-size-pc: 30px;
  --span-titulo-margin-left-pc: 50px;
  --width-aside-pc: 20%;
  --parte-etiquetas-flex-pc: 0.3;
  --parte-seccion-navegacion-flex-pc: 0.7;
  --elemento-logo-border-pc: 1px solid;
  --elemento-logo-border-radius-pc: 15px;
  --elemento-logo-width-pc: 90%;
  --imaxe-figma-border-pc: 1px solid;
  --imaxe-figma-border-radius-pc: 50%;
  --imaxe-figma-padding-pc: 5px;
  --icono-figma-width-pc: 40px;
  --icono-figma-height-pc: 40px;
  --icono-figma-padding-pc: 5px;
  --box-shadow-test: 0px 4px 5px 4px #977777;
  --margin-test: 5px;
  --border-radius-test: 20px;
  --new-link-font-size-pc: 25px;
  --requests-width-pc: 90%;
  --teachers-width-pc: 90%;
  --teachers-height-pc: 108px;
  --dato-teacher-width-pc: 55%;
  --lina-separacion-width-pc: 10%;
  --lina-separacion-height-pc: 80%;
  --lina-separacion-border-left-pc: 1px solid grey;
  --decline-width-pc: 100px;
  --decline-height-pc: 50px;
  --decline-background-color-pc: red;
  --decline-border-radius-pc: 15px;
  --decline-color-pc: white;
  --accept-background-color-pc: green;
  --decline-accept-flex-pc: 0.7;
  --buscador-teacher-width-pc: 100%;
  --buscador-teacher-height-pc: 96px;
  --buscador-width-pc: 90%;
  --buscador-height-pc: 46%;
  --input-buscador-width-pc: 35%;
  --input-buscador-margin-right-pc: 30px;
  --input-input-width-pc: 75%;
  --filtro-actividade-width-pc: 25%;
  --filtro-actividade-margin-right-pc: 15%;
  --actividade-desplegable-height-pc: 70px;
  --desplegable-contido-margin-left-pc: 10px;
  --new-teacher-width-pc: 20%;
  --margin-bottom-buscador-teacher-pc: 20px;
  --margin-bottom-requests-pc: 20px;
  --margin-bottom-teachers-pc: 20px;
}
