/*Variables CSS ejemplos: 
Colores: --primary-color: #3498db;
Tamaños: --font-size: 16px;
Espaciados: --padding: 10px;
Fuentes: --font-family: 'Arial', sans-serif;
Ancho/alto: --max-width: 1200px;*/

/* :root {
  --bg-color-body: #fcfafe;
  --color-principal: #a45cf3;
  --color-alerta: red;
  --color-txt-principal: black;
  --color-txt-secundario: #726b76;
  --color-bordes: #f3f1fb;
  --bg-color-secundario: white;

  --font-family-principal: Helvetica;
  --font-family-secundaria: Krona One;--font-ppal
  --font-family-terciaria: Montserrat;

  --font-weight-principal: 500;
  --font-weight-secundaria: 700;
  --font-weight-terciaria: 300;

  --alignitems-center: center;
}
*/